<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name="entrega1.das.SignOut"
            android:exported="false" />
        <activity
            android:name="entrega1.das.FunTasticQuizInformation"
            android:exported="false" />
        <activity
            android:name="entrega1.das.Play"
            android:exported="false" />
        <activity
            android:name="entrega1.das.QuestionsNumber"
            android:exported="false" />
        <activity
            android:name="entrega1.das.CategoriesSelector"
            android:exported="false" />
        <activity
            android:name="entrega1.das.TermsOfUse"
            android:exported="false" />
        <activity
            android:name="entrega1.das.Welcome"
            android:exported="false" />
        <activity
            android:name="entrega1.das.SignUp"
            android:exported="false" />
        <activity
            android:name="entrega1.das.Login"
            android:exported="false" />
        <activity
            android:name="entrega1.das.Homepage"
            android:exported="false" />
        <activity
            android:name="entrega1.das.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>